.App {
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color:red;
}

.active {
  border: 2px solid #2c62e3;
}

.is-done {
  opacity: 0.4;
}